* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

div {
  width: 100%;
  margin: 20px;
}

div h1{
  font-size: 24px;
  color: #f5f5f5;
  margin: 10px;
  max-width: 500px;
  text-align: center;
}


div li {
  display: block;
  background: rgb(32, 32, 36);
  border-radius: 5px;
  padding: 32px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(32, 32, 36);
  border-image: initial;
  transition: border 0.2s ease 0s;
  max-width: 500px;
  color: #f5f5f5;
  font-weight: bold;
}

/* div li:hover{
  border-color: orange;
} */

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 35px;
  background: #ca4949;
}